:root {
  /* colors as variable */
  --bg-color: #ffffff;
  --card-bg-color: hsl(225,13,56);

  /* font-family */
  --ff-sans: sans-serif;
  --ff-serif: serif;

  /* font-size */
  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.375;
  --fs-600: 1.75rem;
  --fs-900: 2.125rem;
}