:root {
  --primary: ivory;
  --bg-card: #444;
  --bg-item: paleturquoise;
  --nav-item: hotpink;
  --bd-card: hotpink;
  --bd-item: yellow;

  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.375;
  --fs-600: 1.75rem;
  --fs-900: 2.125;
}


*,
*::before,
*::after {
    box-sizing: border-box;
  }

body {
  background: var(--primary);
  line-height: var(--fs-400);
  font-family: sans-serif;
  font-size: var(--fs-500);
  width:100vw;
  height: 300vh;
}

.head__container {
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 200;
    top: 0; 
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--bd-item);
    background-color: var(--bg-item);
    border-radius: 10px;
  }

.bookmark {
  position: absolute;
  top: -3%;
  right: 5%;
}


.container {
    display: flex;
    justify-content: center;
    border: 3px solid var(--bd-item);
    background-color: var(--bg-item);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    list-style: none;
  }

  .nav__container {
    display: flex;
    justify-content: center;
    border: 3px solid var(--bd-item);
    background-color: var(--bg-item);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    list-style: none;
  }
  
.container__item {
    position:relative;
    background-color: var(--bg-card);
    border: 2px solid var(--bd-card);
    color: var(--primary);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
   }

.container__profile__tags {
  display: flex;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  list-style-type: none;
  }

.nav__container__item {
  transform: scale(1.0);
  background-color: var(--primary);
  border: 2px solid var(--bd-card);
  color: var(--primary);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  z-index: 100;
  }
   
.squeeze:hover {
  transform: scale(1.2);
  transition: all .8s ease-in-out 5s;
}

.button {
  position: absolute;
  top: 30%;
  right: 5%;
  padding: 5px;
  border: solid 3px var(--bd-card);
  border-radius: 50px;
}
   
.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
}   

.img__icon {
  width:40px;
  padding: 5px;
}

.active {
  background-color: var(--nav-item);
  background-image: radial-gradient( white, transparent);
}

