* {
    box-sizing: border-box;
  }

body {
    xdisplay: grid;
    xgrid-template-columns: 1fr 3fr 1fr;	
    xgrid-template-rows: 150px 1fr 100px;
    line-height: 1.25rem;
    font-family: sans-serif;
    font-size: 1.25rem;
    padding: 20px;
}
/*header {
    grid-column: 1 / span 3;
  }

footer {
    grid-column: 1 / span 3;
  }
*/

a {
    text-decoration: none;
    color: turquoise;
    font-style: oblique;
  }

.footnote {
    font-size: small;
  }

/* icons sind on pink unterlegt, off etwas durchscheinender */
.img-icon-on {
    width:30px;
    background-color: hotpink;
  }

.img-icon-off {
  width:30px;
  opacity: 50%;
}

  /* Listenstyling */
.list {
    display: flex;
    list-style: none;
    padding: 0.5rem;
    margin: 0;
  }
  
  .list-tag {
    background-color: aquamarine;
    color:#444;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
  }
  
  /* Flexboxes 
  .flex-box {
    display: flex;
    align-items: column;
    flex-wrap: wrap;
    border: 1px solid slategrey;
    background-color:paleturquoise; 
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
  }
  
  .flex-box-item {
    flex-wrap: wrap;
    align-items: column;
    border: 1px solid palevioletred;
    background-color: palegreen;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
  }*/
    
  /* grid boxes */
  
 .grid-box {
    xdisplay: grid;
    border: 1px solid yellow;
    background-color: paleturquoise;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    xcolor: #444;
  }
  
  .grid-box-item {
    background-color: #444;
    border: 5px solid hotpink;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
   }