*,
*::before,
*::after {
    box-sizing: border-box;
  }

body {
  background: ivory;
  line-height: 1.25rem;
  font-family: sans-serif;
  font-size: 1.25rem;
  width:100vw;
  height: 300vh;
}

.head__container {
    display: flex;
    justify-content: center;
    xposition: fixed;
    top: 0; 
    xleft: 0;
    xright: 0;
    border: 2px solid yellow;
    background-color: paleturquoise;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }

.bookmark {
  position: absolute;
  top: 110px;
  right: 20px;
  xbackground-color: hotpink;
  xbackground-image: radial-gradient( white, transparent);
  xtext-align: right;
  xmargin-top: -1.25rem;
  xpadding: 0;
}


.container,
.nav__container {
    display: flex;
    justify-content: center;
    border: 2px solid yellow;
    background-color: paleturquoise;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    list-style: none;
  }
  
.container__item,
.nav__container__item {
    background-color: #444;
    border: 5px solid hotpink;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
   }

.button {
  position: absolute;
  top: 160px;
  right: 60px;
  padding: 5px;
  border: solid 3px hotpink;
  border-radius: 50px;
  xbackground-color: yellow;
  xbackground-image: radial-gradient( white, transparent);
}
   
.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 20px;
}   

.img__icon {
  width:40px;
  padding: 5px;
}

.footnote {
  font-size: small;
  text-align: center;
}

.active {
  background-color: hotpink;
  background-image: radial-gradient( white, transparent);
}
